/* главная страничка НАВБАР */
.navbar-container{
  background-color: rgb(55, 57, 57);
  display: flex;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 200px;
}
.nav__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.rigth-nav{
  display: flex;
  font-size: 32px;
}
.left-nav{
  display: flex;
  font-size: 32px;
}
a{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 30px;
text-decoration:none;
}
.color-a{
color: aliceblue;
}

/* форма с ключевыми словами */
.fon-home{
  background-color: rgb(140, 134, 134);
width: 100%;  
display: flex;
justify-content: center;
align-items: center;
height: 550px;
border-radius: 300px 10px;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  width: 1000px;
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  margin: 50px;
}
.container-body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.container-form-str {
  width: 800px;
  font-size: 25px;
  color: rgb(3, 3, 30);
  border-radius: 20px;
  background-color: aliceblue;
  padding: 30px;
  
}

.ubdate-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
}



/* контейнер с картами */
.container-News{
  display: flex;
  width: 1000px;
  flex-direction: column;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 200px;
  margin-top: 50px;
}
.form-txt{
  background-color: rgb(198, 193, 193);
  width: 100%;  
  display: flex;
  justify-content: center;
  border-radius: 500px 20px ;
  align-items: center;
}

.card{
  width: 400px;
  height: 440;
  padding: 30px;
  margin: 15px;
} 
.foto-card{
border-radius: 20px;
width: 350px;
height: 200px;
border: 3px solid
}
.container-card-text{

  margin-top: 20px;
  background-color: rgb(190, 223, 251);
  border-radius: 20px;
  width: 350px;
}

/* страничка входа */

.container-flex-in{
  
   margin-top: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
   margin-bottom: 100px;
}

.container-sing-in{
  width: 800px;
  font-size: 25px;
  color: rgb(3, 3, 30);
  border-radius: 20px;
  background-color: aliceblue;
  padding: 30px;

}
.btn-in{
width: 100px;
height: 50px;
font-size: 20px;
color: black;
background-color: chartreuse;
border-color: rgb(2, 2, 2);
margin-left: 13px;
}

/* страничка Зарегестрироваться */

.container-flex-up{
  margin-top: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.container-sing-up{
  width: 800px;
  font-size: 25px;
  color: rgb(3, 3, 30);
  border-radius: 20px;
  background-color: aliceblue;
  padding: 30px;
}
.btn-up{

font-size: 20px;
color: black;
background-color: rgb(255, 242, 0);
border-color: rgb(2, 2, 2);
margin-left: 13px;
}

/* страничка Подробнее */

.fon-newPage{
  background-color: rgb(140, 134, 134);
width: 100%;  
display: flex;
justify-content: center;
align-items: center;

border-radius: 300px 10px;
}
.fon-com{
  background-color: rgb(140, 134, 134);
  width: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 100px;
  border-radius: 300px 20px;
  background-color: rgb(198, 193, 193);

}

.container-comment{

display: flex;
flex-direction: column;
background-color: rgb(55, 57, 57);
width: 50%;
height: 600px;
align-items: center;
justify-content: center;
border-radius: 100px;
}
.name-comment{
  font-size: 30px;
  width: 300px;
  height: 50px;
  background-color: aqua;
  border-radius: 30px;
  justify-content: center;
  padding-left: 100px;
}

.comment-comment{
  display: flex;
  font-size: 24px;
  width: 300px;
  height: 50px;
  background-color:aquamarine;
  border-radius: 30px;
  padding-left: 10px;
  padding-top: 10px;
  /* justify-content: center; */
  align-items: center;
  margin: 15px 30px;
}


.containe-update-com{

}
.comment-form{
  background-color: rgb(88, 91, 91);
  margin-top: 20px;
   margin-bottom: 10px;
   width: 800px;
   font-size: 25px;
   color: rgb(3, 3, 30);
   border-radius: 20px;
   padding: 30px;
}
.input-update{
margin-left: 10px;
width: 300px;
border-radius: 15px;
}
.text-update{
color: black;
font-family: Arial, Helvetica, sans-serif;
}
/* главная страничка админа форма */

.form-add-admin{
margin-top: 150px;
background-color: aquamarine;
padding: 50px;
border-radius: 100px;
}

.new-comment{
  font-size: 50px;
  color: black;
}

.NewsPageCard{
  margin: 50px;
  width: 1000px;
  height: 100%;
  font-size: 25px;

}

.container-NewsPage{
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
margin-top: 150px;
}
.aNewPage{
  font-size: 40px;
  color: rgb(0, 0, 0);
}

.container-logout-NewsPage{
  margin-bottom: 200px;
  margin-top: 100px;
}
/* 
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}


.left-nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
}
.rigth-nav {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}
.container-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 100px;
  justify-content: center;
  width: 1000px;
}

.container-fluid {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.container {
  margin-top: 70px;
  width: 600px;
  font-size: 25px;
}
 */




/* ////////////////////////

.navbar {
  background: silver;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
 
}

.container-card {
  display: flex;
  align-items: center;
  width: 1000px;
  flex-wrap: wrap;
}

.home-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgHome {
  width: 500px;
  border-radius: 30px;
}

.card {
  width: 500px;
  height: 400px;
  margin: 20px;
}
.imgCard {
  width: 100%;
}

.container {
  margin: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  background-color: rgb(137, 49, 49);
  color: black;
}
.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-p {
  margin: 0;
}
